#home {
  background-color: #353535;
}
#pets {
  /* padding-top: 5px; */
}

p {
  text-align: center;
}

.center{
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  border-radius: 100%;
  padding: 30px;
}

.pet {
  display: block;
  height: 100px;
  width: 100px;
  border: 6.5px solid #52ac5a;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  border-radius: inherit;
  margin-left: auto;
  margin-right: auto;
}

#pet01 {
  border: 6.5px solid #ff2727;
}

.img-circle {
  border-radius: 50%;
}
